.cardBackground{
    background-color: #ff660060;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    width: 350px;
    height: 650px;
    transition: all 200ms ease-in-out;
    margin-top: 80px;
}

.cardImage{
    border-radius: 0px;
    width: 100%;
    height: 100%;
    min-height: 400px;
    max-height: 400px;
    object-fit: contain;
    z-index: 0;
    transition: transform 0.6s;

}

.cardImage:hover{
    transform: scale(1.4);
}

.cardBackground:hover .cardImage{
    border-radius: 10px;
    filter: grayscale(0);
}

.cardTitle{
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 900;
    text-shadow: 0px 3px 20px #f700ff;
    width: 100%;
    text-align: center;
}

.cardText{
    width: 100%;
    text-align: center;
    color: #fa81ea;
    font-size: 22px;
}

.cardText2{
    width: 100%;
    text-align: center;
    color: #fa81ea;
    font-size: 22px;
    overflow: hidden;
    white-space: nowrap;
}