.title{
    font-size: 2rem;
    text-shadow: 0px 3px 20px #ff9900;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

@media (width >= 768px){
    .title{
        font-size: 4rem;
    }
}