/* mobile first, celular primeiro */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('/dbzwpbg.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input {
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 8px;
    border: 2px solid #ccc;
    font-size: 22px;
;
}

/* agora serve para o desktop */
@media (width >= 768px){
    body{
        background-image: url('/dbzbg.gif');
    }
}
input{
    width: 300px;
    font-size: 18px;
}